@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';
.swiper {
  width: 100%;
 width: 100%;
  object-fit: contain;
}
.swiper-img {
  height: 200px;
  object-fit: cover;
}
.swiper-button-prev{
  opacity: 0 !important;
}
.swiper-button-next {

  opacity: 0
}

.showNavigator:hover {
  .swiper-button-prev{
    transition: all ease-in 0.3s;
    opacity: 1 !important;
  }
  .swiper-button-next {
    transition: all ease-in 0.3s;
    opacity: 1
  }

}
