<app-header></app-header>
<div class="px-2 py-2  pt-40 lg:px-[9rem]">
  <div class="mt-10 flex gap-4 ">
    <div class="1/2 mr-4">
      <div class="">
        <div class="productTitle">Khoảng giá</div>
        <div class="flex gap-3">
          <div class="productSort">0đ</div>
          <span class="productSort">120.000.000đ </span>
        </div>

        <div class="w-1/2">
          <input type="range" name="range" class=" h-1  bg-color-primary " />

        </div>
      </div>
      <div class="">
        <div class="flex justify-between">
          <div class="productTitle">Thuơng hiệu</div>
          <div class="productTitle">
            <fa-icon [icon]="upIcon"></fa-icon>
          </div>
        </div>
        <div class="flex  ">
          <div class="flex  items-center mb-4 mr-7">
            <input id="checkbox-2" aria-describedby="checkbox-2" type="checkbox"
              class="bg-gray-50 border-gray-300 focus:ring-3 focus:ring-blue-300 h-4 w-4 rounded">
            <label for="checkbox-2" class="text-sm ml-1 font-medium text-gray-900">ACER</label>
          </div>
          <div class="flex  items-center mb-4">
            <input id="checkbox-2" aria-describedby="checkbox-2" type="checkbox"
              class="bg-gray-50 border-gray-300 focus:ring-3 focus:ring-blue-300 h-4 w-4 rounded">
            <label for="checkbox-2" class="text-sm ml-1 font-medium text-gray-900">ACER</label>
          </div>
        </div>
        <div class="flex  ">
          <div class="flex  items-center mb-4 mr-7">
            <input id="checkbox-2" aria-describedby="checkbox-2" type="checkbox"
              class="bg-gray-50 border-gray-300 focus:ring-3 focus:ring-blue-300 h-4 w-4 rounded">
            <label for="checkbox-2" class="text-sm ml-1 font-medium text-gray-900">ACER</label>
          </div>
          <div class="flex  items-center mb-4">
            <input id="checkbox-2" aria-describedby="checkbox-2" type="checkbox"
              class="bg-gray-50 border-gray-300 focus:ring-3 focus:ring-blue-300 h-4 w-4 rounded">
            <label for="checkbox-2" class="text-sm ml-1 font-medium text-gray-900">ACER</label>
          </div>
        </div>
      </div>

    </div>
    <div class="w-full">
      <section class="  body-font text-gray-600  ">
        <div class="flex items-center flex-wrap">
          <div class="text-sm text-color-main font-semibold">Sắp xếp thêm</div>
          <div class="flex ml-10 gap-4 flex-wrap">
            <span class="productSort">Khuyến mãi tốt nhất</span>
            <span class="productSort">Bán chạy</span>
            <span class="productSort">Mới về</span>
            <span class="productSort">Giá giảm dần</span>
            <span class="productSort">Giá tăng dần</span>
          </div>
        </div>
        <div class=" px-1 py-10">
          <div class="-m-4 bg-white  ">
            <div class="flex flex-wrap">
              <div class=" border border-solid  border-[#eeeeee] p-4 md:w-1/2  lg:w-1/5"
                *ngFor="let product of listProduct">
                <a routerLink="/san-pham/{{product.slug}}" class="relative block overflow-hidden rounded">
                  <img alt="ecommerce" class="block h-full w-full object-cover object-center cursor-pointer"
                    src="{{product.image}}" />

                </a>
                <div class="mt-4">
                  <a href="">
                    <h3 class=" mb-1 text-xs tracking-widest text-gray-500">{{product.brandName}}</h3>
                    <div class=" text-xs font-medium text-gray-900">{{product.name}}</div>
                    <div class="flex justify-between">
                      <div>
                        <p class="mt-1 text-color-primary font-bold">{{product.promotionPrice}}đ</p>
                        <div class="flex">
                          <p class="mt-1 line-through">{{product.price}}đ</p>
                          <p class="text-color-primary">-{{product.price}}%</p>
                        </div>
                      </div>
                      <div *ngIf="product.isFreeship">
                        <fa-icon class="text-sm text-[#30cd60]" [icon]="freeShip"></fa-icon>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="flex justify-center item-center flex-1 mt-10">
              <nav aria-label="Page navigation ">
                <ul class="inline-flex space-x-2">
                  <li><button
                      class="flex items-center justify-center w-10 h-10 text-indigo-600 transition-colors duration-150 rounded-full focus:shadow-outline hover:bg-indigo-100">
                      <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20">
                        <path
                          d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                          clip-rule="evenodd" fill-rule="evenodd"></path>
                      </svg></button>
                  </li>
                  <li><button
                      class="w-10 h-10 text-indigo-600 transition-colors duration-150 rounded-full focus:shadow-outline hover:bg-indigo-100">1</button>
                  </li>
                  <li><button
                      class="w-10 h-10 text-indigo-600 transition-colors duration-150 rounded-full focus:shadow-outline hover:bg-indigo-100">2</button>
                  </li>
                  <li><button
                      class="w-10 h-10 text-white transition-colors duration-150 bg-indigo-600 border border-r-0 border-indigo-600 rounded-full focus:shadow-outline">3</button>
                  </li>
                  <li><button
                      class="flex items-center justify-center w-10 h-10 text-indigo-600 transition-colors duration-150 bg-white rounded-full focus:shadow-outline hover:bg-indigo-100">
                      <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20">
                        <path
                          d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                          clip-rule="evenodd" fill-rule="evenodd"></path>
                      </svg></button>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>

      </section>
    </div>

  </div>
</div>
<app-footer></app-footer>