<app-header></app-header>
<div class="cart row">
  <div class="col-8">
    <table class="table ">
      <thead>
        <tr>
          <th scope="col">
            <input type="checkbox" name="" id="">
          </th>
          <th scope="col">CÔNG TY CỔ PHẦN THƯƠNG MẠI DỊCH VỤ PHONG VŨ
          </th>
          <th scope="col">Đơn giá</th>
          <th scope="col">Số lượng</th>
          <th scope="col">Thành tiền</th>
        </tr>
      </thead>
      <tbody>
        <tr class="">
          <th scope="row">
            <input type="checkbox" name="" id="">
          </th>
          <td class="d-flex left_cart align-items-center">
            <img width="80px"
              src="https://cdn.yousport.vn/Media/Products/230522120021029/mira-galaxy-s1-den-xanh-1b_large.jpg?width=284&height=213&quality=99&scale=downscaleonly"
              alt="">
            <p>Giày Mira Galaxy S1
            </p>
          </td>
          <td>
            <p>17.490.000đ</p>
            <p>20.000.000</p>
          </td>
          <td>

            <input style="width: 50px;" type="number" name="" id="">

          </td>
          <td>
            17.490.000
          </td>
        </tr>

      </tbody>
    </table>
  </div>
  <div class="col-4 mt-3 ">
    <div class="right_cart">
      <span>Thanh toán</span>
      <div class="pay">
        <div class="pay_item">
          <span>Tổng tạm tính</span>
          <span>17.490.000</span>
        </div>
        <div class="pay_item">
          <span>Tổng tạm tính</span>
          <span>17.490.000</span>
        </div>
      </div>
    </div>
    <button class="btn_cart">Thanh toán</button>
  </div>
</div>
<app-footer></app-footer>
